---
import CardBtn from "./CardBtn.astro";

const { bgImg, logoImg, eName, rolName, dates, pageLink } = Astro.props;
---

<div
   class="bg-black col-span-8 row-span-1 lg:col-span-2 lg:row-span-2 py-14 rounded-3xl relative overflow-hidden on-hover-el inactive animated delayed"
>
   <div class="flex flex-col items-center h-full">
      <div class="flex lg:flex-col items-center z-[1] gap-5">
         <img
            class="w-auto h-20 grayscale-[50%] rounded-lg hidden lg:inline"
            src={logoImg}
            alt="Logo"
         />
         <span class="text-center text-white text-2xl font-bold leading-6">
            {eName}
         </span>
      </div>
      <p
         class="leading-4 mt-2 z-[1] text-white text-center font-medium text-sm"
      >
         {rolName}
         <br />
         {dates}
      </p>
      <div class="mt-auto z-[2]">
         <CardBtn referenceTo={pageLink} />
      </div>
   </div>
   <img
      class="w-full h-full object-cover absolute top-0 z-0 left-0 opacity-70 transition-all duration-300"
      src={bgImg}
      alt="Enterprise Logo"
   />
</div>
