---
import CardBtn from "./CardBtn.astro";

const { bgImg, logoImg, eName, rolName, dates } = Astro.props;
---

<div
   class="col-span-2 row-span-2 py-14 px-14 rounded-3xl relative overflow-hidden"
>
   <div class="flex flex-col items-center h-full">
      <div class="flex flex-col items-center z-[1] gap-5">
         <img class="w-20 h-20" src={logoImg} alt="Logo" />
         <span class="text-center text-white text-xl font-bold leading-5">
            {eName}
         </span>
      </div>
      <p class="leading-5 mt-2 z-[1] text-white text-center font-medium">
         {rolName}
         <br />
         {dates}
      </p>
      <div class="mt-auto z-[2]">
         <CardBtn />
      </div>
   </div>
   <img
      class="w-full h-full object-cover absolute top-0 z-0 left-0 opacity-25"
      src={bgImg}
      alt="Enterprise Logo"
   />
</div>
