---
import Card from "./Card.astro";
import SectionContainer from "./SectionContainer.astro";
import Experiences from "../assets/json/Experiences.json";

import proj1Img from "../assets/img/programming.jpg";
import proj2Img from "../assets/img/teaching.jpg";
import proj3Img from "../assets/img/computing.webp";

import proj1Logo from "../assets/img/escudo28denoviembre.png";
import santaCruzLogo from "../assets/img/EscudoProvSantaCruz.png";

const images = [proj1Img, proj2Img, proj3Img];
const logos = [proj1Logo, santaCruzLogo, santaCruzLogo];

const description = "My most relevant experiences";
const title = "Experience";
---

<SectionContainer title={title} description={description}>
   <div class="grid grid-cols-6 auto-rows-[260px] w-full gap-4">
      {
         Experiences.map((exp) => (
            <Card
               bgImg={images[exp.bgImg].src}
               logoImg={logos[exp.logoImg].src}
               eName={exp.eName}
               rolName={exp.rolName}
               dates={exp.dates}
            />
         ))
      }
   </div>
</SectionContainer>
