---
import MyProjects from "../assets/json/Projects.json";
import SectionContainer from "./SectionContainer.astro";
import GridTile from "./GridTile.astro";

import GiffyAllImg from "../assets/img/Giffyall.webp";
import MyUnsplashedImg from "../assets/img/MyUnsplashed.webp";
import MarvelSiteImg from "../assets/img/Marvelsite.webp";

import ProjectDescription from "./ProjectDescription.astro";
const description = "You can see here all of my projects";
const title = "Projects";
---

<SectionContainer title={title} description={description}>
   <div class="grid grid-cols-8 auto-rows-[380px] lg:auto-rows-[140px] gap-4">
      <GridTile propClasses="xl:col-span-4 col-span-8 lg:row-span-3 row-span-1">
         <ProjectDescription
            projName={MyProjects[0].projName}
            projDesc={MyProjects[0].projDesc}
            projTechs={MyProjects[0].projTechs}
            projUrl={MyProjects[0].projUrl}
            projType={MyProjects[0].projType}
            imgSource={GiffyAllImg.src}
         />
      </GridTile>
      <GridTile
         propClasses="xl:col-span-4 col-span-8  lg:row-span-2 row-span-1"
      >
         <ProjectDescription
            projName={MyProjects[1].projName}
            projDesc={MyProjects[1].projDesc}
            projTechs={MyProjects[1].projTechs}
            projUrl={MyProjects[1].projUrl}
            projType={MyProjects[1].projType}
            imgSource={MarvelSiteImg.src}
         />
      </GridTile>
      <GridTile propClasses="xl:col-span-4 col-span-8 lg:row-span-3 row-span-1">
         <ProjectDescription
            projName={MyProjects[2].projName}
            projDesc={MyProjects[2].projDesc}
            projTechs={MyProjects[2].projTechs}
            projUrl={MyProjects[2].projUrl}
            projType={MyProjects[2].projType}
            imgSource={MyUnsplashedImg.src}
         />
      </GridTile>
      <GridTile
         propClasses="xl:col-span-4  col-span-8 lg:row-span-2 row-span-1"
      >
         <ProjectDescription
            projName={MyProjects[3].projName}
            projDesc={MyProjects[3].projDesc}
            projTechs={MyProjects[3].projTechs}
            projUrl={MyProjects[3].projUrl}
            projType={MyProjects[3].projType}
            imgSource={MarvelSiteImg.src}
         />
      </GridTile>
   </div>
</SectionContainer>
