---
import LayersSVG from "./LayersSVG.astro";
import ProjectLink from "./ProjectLink.astro";

const {
   projName,
   projDesc,
   projTechs,
   imgSource,
   projUrl,
   projType = "WORK EXPERIENCE",
} = Astro.props;
---

<div
   class="flex flex-col gap-3 w-full h-full top-0 left-0 p-8 relative on-hover-el"
>
   <div class="flex gap-3 items-center opacity-50">
      <LayersSVG />
      <span class="font-semibold">{projType}</span>
   </div>
   <div class="flex flex-col gap-1">
      <h3 class="text-2xl font-bold">{projName}</h3>
      <p class="text-base opacity-70">{projDesc}</p>
      <div class="flex gap-2">
         {
            projTechs.map((tech: string) => (
               <span class="text-sm font-medium opacity-90">{tech}</span>
            ))
         }
      </div>
   </div>
   <ProjectLink pageUrl={projUrl} />
   <img
      src={imgSource}
      alt="Project"
      class="rounded-2xl absolute w-full top-48 left-12 transition-all duration-300"
   />
</div>
